// palette
$color-grey: #303030;
$color-lightgrey: #ddd;
$color-border: #ccc;
$color-white: #fff;
$color-background: #f1f1f1;



.content {
  &__title {
    text-align: center;
    color: $color-grey;
  }

  &__mainMenuBar {
    display: block;
  }

  &__searchContainer {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 30%;
    border: 1px solid $color-lightgrey;
    border-top-right-radius: 10px 10px;
    display: flex;
    flex-direction: row;
  }

  &__searchIcon {
    background: $color-lightgrey;
    padding: 10px;
  }

  &__search {
    border: none;
    flex: 1;
    padding: 10px;
  }

  &__tab {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 70%;
    background: $color-white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__tablinks {
    text-transform: lowercase;
    border: 1px solid $color-lightgrey;
    outline: none;
    cursor: pointer;
    flex: 1;
    padding: 10px;
    border-top-right-radius: 10px 10px;
    border-top-left-radius : 10px 10px;
  }

  &__wrapper {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;

    >* {
      margin: 6px;
      padding: 16px;
      display: flex;
      justify-content: start;
      align-items: start;
      border: 1px solid;
      padding: 10px;
      box-shadow: 1px 5px $color-lightgrey;
      flex: 1;
      flex-direction: column;
      color: white;
      box-sizing: border-box;
      flex-basis: calc(50% - 12px);
      color:$color-grey;
    }
  }
}

.container {
  &__image {
    margin: 20px 30px 0 30px;
    float: left;
    border-radius: 50%;
  }

  &__text {
    margin-left: 15px;
    display: block;
    margin: 2px 0 0 0;
  }

  &__text--title {
    margin-left: 15px;
    display: block;
    margin: 2px 0 0 0;
    color:$color-border;
  }

  &__text--content {
    margin: 15px;
  }

  &__closebtn {
    position: relative;
    margin: auto;
    left: -132px;
    top: -11px;
    border: none;
    padding: 0;
    background: none;
  }
}

input {

  &:hover,
  &:focus {
    border-top-right-radius: 10px 10px;
    outline: none;
    background: $color-background;
  }
}

.unvisible {
  display: none;
}

.visible {
  display: block;
}

.underline {
  border-bottom: 1px dotted $color-lightgrey;
  width: 100%;
  display: block;
  padding-bottom: 5px;
}

table {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  justify-content: space-around;
}

table,
td {
  width: 40%;
  border-collapse: collapse;
  font-size: 75%;
  padding-left: 24px;
  text-align: left;
}

@media only screen and (min-width: 1024px) {
  .content {
    &__mainMenuBar {
      display: flex;
    }

    &__searchContainer {
      flex: 30%;
    }

    &__tab {
      flex: 70%;
      background: $color-white;
      display: flex;
      flex-direction: row;
    }
  }

}

@media only screen and (min-width: 768px) {
  table,
  td {
    font-size: 100%;
    width: 60%;
  }
}

@media only screen and (min-width: 1200px) {
  table,
  td {
    font-size: 100%;
  }
}

@media (max-width:460px) {
  .content__wrapper>* {
    flex-basis: 100%;
  }
}